<a href="https://colab.research.google.com/github/vamsi457/HeartRatePrediction/blob/main/HeartRate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting heart rate to monitor stress level

### Business Context

Anxiety and stress make your heart work harder. When you’re under stress your
body’s “fight or flight” response is triggered i.e. your body tenses, your blood
pressure rises and your heart beats faster. Stress hormones may damage the lining of
the arteries. In the current scenario post-covid, since most of us are indoors, stress
levels are at an all time high due to increasing anxieties which is leading to a higher
heart rate. And your body's response to stress may be a headache, back strain, or
stomach pains. Stress can also zap your energy, wreak havoc on your sleep and
make you feel cranky, forgetful and out of control.

Higher heart rate is not always better since pathological conditions can lead to an
increased heart rate. Tachycardia refers to a fast resting heart rate, usually over 100
beats per minute. Tachycardia can be dangerous, depending on its underlying cause
and on how hard the heart has to work.
An optimal level of heart rate is associated with health and self-regulatory capacity,
and adaptability or resilience. Higher levels of resting vagally-mediated heart rate are
linked to performance of executive functions like attention and emotional processing
by the prefrontal cortex.

Higher heart rates are usually connected with higher stress levels. When stress is
excessive, it can contribute to everything from high blood pressure , also called
hypertension, to asthma to ulcers to irritable bowel syndrome
Stress may affect behaviors and factors that increase heart disease risk: high blood
pressure and cholesterol levels, smoking, physical inactivity and overeating. Some
people may choose to drink too much alcohol or smoke cigarettes to “manage” their
chronic stress, however these habits can increase blood pressure and may damage
artery walls.

Thus, heart rate can be used to monitor your stress levels and keep it under check as
it is a useful indicator of good health.

A recent study speaks about effects of stress on increased heart attacks amongst
30-40 year olds:
https://economictimes.indiatimes.com/magazines/panache/heart-attacks-on-the-riseamong-30-40-year-olds-diabetes-hypertension-are-contributing-factors/articleshow/66997025.cms

### About the Data

The data comprises various attributes taken from signals measured using **ECG**
recorded for different individuals having different heart rates at the time the
measurement was taken. These various features contribute to the heart rate at the
given instant of time for the individual.

You have been provided with a total of **7 CSV files** with the names as follows:

**time_domain_features_train.csv** - This file contains all time domain features of heart
rate for training data

**frequency_domain_features_train.csv** - This file contains all frequency domain
features of heart rate for training data

**heart_rate_non_linear_features_train.csv** - This file contains all non linear features of
heart rate for training data

**time_domain_features_test.csv** - This file contains all time domain features of heart
rate for testing data

**frequency_domain_features_test.csv** - This file contains all frequency domain
features of heart rate for testing data

**heart_rate_non_linear_features_test.csv** - This file contains all non linear features of
heart rate for testing data

**sample_submission.csv** - This file contains the format in which you need to make
submissions to the portal


### Following is the data dictionary for the features you will come across in the files mentioned:


**MEAN_RR** - Mean of RR intervals

**MEDIAN_RR** - Median of RR intervals

**SDRR** - Standard deviation of RR intervals

**RMSSD** - Root mean square of successive RR interval differences

**SDSD** - Standard deviation of successive RR interval differences

**SDRR_RMSSD** - Ratio of SDRR / RMSSD

**pNN25** - Percentage of successive RR intervals that differ by more than 25 ms

**pNN50** - Percentage of successive RR intervals that differ by more than 50 ms

**KURT** - Kurtosis of distribution of successive RR intervals

**SKEW** - Skew of distribution of successive RR intervals

**MEAN_REL_RR** - Mean of relative RR intervals

**MEDIAN_REL_RR** - Median of relative RR intervals

**SDRR_REL_RR** - Standard deviation of relative RR intervals

**RMSSD_REL_RR** - Root mean square of successive relative RR interval differences

**SDSD_REL_RR** - Standard deviation of successive relative RR interval differences

**SDRR_RMSSD_REL_RR** - Ratio of SDRR/RMSSD for relative RR interval differences

**KURT_REL_RR** - Kurtosis of distribution of relative RR intervals

**SKEW_REL_RR** - Skewness of distribution of relative RR intervals

**uuid** - Unique ID for each patient

**VLF** - Absolute power of the very low frequency band (0.0033** - 0.04 Hz)

**VLF_PCT** - Principal component transform of VLF

**LF** - Absolute power of the low frequency band (0.04** - 0.15 Hz)

**LF_PCT** - Principal component transform of LF

**LF_NU** - Absolute power of the low frequency band in normal units

**HF** - Absolute power of the high frequency band (0.15** - 0.4 Hz)

**HF_PCT** - Principal component transform of HF

**HF_NU** - Absolute power of the highest frequency band in normal units

**TP** - Total power of RR intervals

**LF_HF** - Ratio of LF to HF

**HF_LF** - Ratio of HF to LF

**SD1** - Poincaré plot standard deviation perpendicular to the line of identity

**SD2** - Poincaré plot standard deviation along the line of identity

**Sampen** - sample entropy which measures the regularity and complexity of a time series

**higuci** - higuci fractal dimension of heartrate

**datasetId** - ID of the whole dataset

**condition** - condition of the patient at the time the data was recorded

**HR** - Heart rate of the patient at the time of data recorded

### Objective

The objective is to build a regressor model which can predict the heart rate of an individual. This prediction can help to monitor stress levels of the individual.

### Evaluation Metric

#### Mean Absolute Error :

$\frac{1}{n}\sum_{i=1}^{n}|x_i -x| $

n - total number of predicted samples

$x_i$ - predicted output

x - actual output

#### Submission Process

- You are required to submit a csv file which contains the uuid and its predicted
label(HR).
- Please note that file should be in a csv format as shown in
sample_submission.csv
- Please ensure that submission file contains all the test instances

Importing Libraraies

In [1]:
# For numerical calculations
import numpy as np

#For working on Dataset
import pandas as pd


# For plotting images and Graphs
%matplotlib inline
import matplotlib.pyplot as plt

# For Logging
import logging

# For encoding categorical variables
from sklearn.preprocessing import OneHotEncoder, StandardScaler

# Importing seaborn for statistical plots
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn import linear_model
from sklearn.linear_model import LogisticRegression, LassoLars

from sklearn.metrics import mean_absolute_error

Importing Datasets

In [2]:
heart_rate_non_linear_features_train = pd.read_csv("/content/drive/MyDrive/AIML/HeartRate/heart_rate_non_linear_features_train.csv")
frequency_domain_features_train = pd.read_csv("/content/drive/MyDrive/AIML/HeartRate/frequency_domain_features_train.csv")
time_domain_features_train = pd.read_csv("/content/drive/MyDrive/AIML/HeartRate/time_domain_features_train.csv")

heart_rate_non_linear_features_test = pd.read_csv("/content/drive/MyDrive/AIML/HeartRate/heart_rate_non_linear_features_test.csv")
frequency_domain_features_test = pd.read_csv("/content/drive/MyDrive/AIML/HeartRate/frequency_domain_features_test.csv")
time_domain_features_test = pd.read_csv("/content/drive/MyDrive/AIML/HeartRate/time_domain_features_test.csv")

Enable Logging

In [5]:
# Enabling logging
logging.basicConfig(filemode='a', format='%(asctime)s - %(message)s')
logger = logging.getLogger('Heart Rate Prediction')
logger.setLevel(logging.DEBUG)

In [6]:
logger.info("Training Dataset Shape")
logger.info(heart_rate_non_linear_features_train.shape)
logger.info(frequency_domain_features_train.shape)
logger.info(time_domain_features_train.shape)


logger.info("Test Dataset Shape")

logger.info(heart_rate_non_linear_features_test.shape)
logger.info(frequency_domain_features_test.shape)
logger.info(time_domain_features_test.shape)

2020-12-14 07:37:53,519 - Training Dataset Shape
2020-12-14 07:37:53,524 - (369289, 7)
2020-12-14 07:37:53,526 - (369289, 12)
2020-12-14 07:37:53,527 - (369289, 20)
2020-12-14 07:37:53,529 - Test Dataset Shape
2020-12-14 07:37:53,530 - (41033, 7)
2020-12-14 07:37:53,531 - (41033, 12)
2020-12-14 07:37:53,532 - (41033, 19)

In [7]:
logger.info("Training Dataset Info")
logger.info(heart_rate_non_linear_features_train.info())
logger.info(frequency_domain_features_train.info())
logger.info(time_domain_features_train.info())

logger.info("Testing Dataset Info")
logger.info(heart_rate_non_linear_features_test.info())
logger.info(frequency_domain_features_test.info())
logger.info(time_domain_features_test.info())

2020-12-14 07:52:27,586 - Training Dataset Info
2020-12-14 07:52:27,659 - None
2020-12-14 07:52:27,698 - None
2020-12-14 07:52:27,746 - None
2020-12-14 07:52:27,747 - Testing Dataset Info
2020-12-14 07:52:27,765 - None
2020-12-14 07:52:27,779 - None
2020-12-14 07:52:27,793 - None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369289 entries, 0 to 369288
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   uuid       369289 non-null  object
 1   SD1        369289 non-null  float64
 2   SD2        369289 non-null  float64
 3   sampen     369289 non-null  float64
 4   higuci     369289 non-null  float64
 5   datasetId  369289 non-null  int64
 6   condition  369289 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 19.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369289 entries, 0 to 369288
Data columns (total 12 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   uuid     369289 non-null  object
 1   VLF      369289 non-null  float64
 2   VLF_PCT  369289 non-null  float64
 3   LF       369289 non-null  float64
 4   LF_PCT   369289 non-null  float64
 5   LF_NU    369289 non-null  float64
 6   HF       369289 non-null  float64
 7   HF_PCT   369289 non-null  float64
 8   HF_NU    369289 non-null  float64
 9   TP       369289 non-null  float64
 10  LF_HF    369289 non-null  float64
 11  HF_LF    369289 non-null  float64
dtypes: float64(11), object(1)
memory usage: 33.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369289 entries, 0 to 369288
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   MEAN_RR            369289 non-null  float64
 1   MEDIAN_RR          369289 non-null  float64
 2   SDRR               369289 non-null  float64
 3   RMSSD              369289 non-null  float64
 4   SDSD               369289 non-null  float64
 5   SDRR_RMSSD         369289 non-null  float64
 6   HR                 369289 non-null  float64
 7   pNN25              369289 non-null  float64
 8   pNN50              369289 non-null  float64
 9   KURT               369289 non-null  float64
 10  SKEW               369289 non-null  float64
 11  MEAN_REL_RR        369289 non-null  float64
 12  MEDIAN_REL_RR      369289 non-null  float64
 13  SDRR_REL_RR        369289 non-null  float64
 14  RMSSD_REL_RR       369289 non-null  float64
 15  SDSD_REL_RR        369289 non-null  float64
 16  SDRR_RMSSD_REL_RR  369289 non-null  float64
 17  KURT_REL_RR        369289 non-null  float64
 18  SKEW_REL_RR        369289 non-null  float64
 19  uuid               369289 non-null  object
dtypes: float64(19), object(1)
memory usage: 56.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41033 entries, 0 to 41032
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   uuid       41033 non-null  object
 1   SD1        41033 non-null  float64
 2   SD2        41033 non-null  float64
 3   sampen     41033 non-null  float64
 4   higuci     41033 non-null  float64
 5   datasetId  41033 non-null  int64
 6   condition  41033 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 2.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41033 entries, 0 to 41032
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   uuid     41033 non-null  object
 1   VLF      41033 non-null  float64
 2   VLF_PCT  41033 non-null  float64
 3   LF       41033 non-null  float64
 4   LF_PCT   41033 non-null  float64
 5   LF_NU    41033 non-null  float64
 6   HF       41033 non-null  float64
 7   HF_PCT   41033 non-null  float64
 8   HF_NU    41033 non-null  float64
 9   TP       41033 non-null  float64
 10  LF_HF    41033 non-null  float64
 11  HF_LF    41033 non-null  float64
dtypes: float64(11), object(1)
memory usage: 3.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41033 entries, 0 to 41032
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MEAN_RR            41033 non-null  float64
 1   MEDIAN_RR          41033 non-null  float64
 2   SDRR               41033 non-null  float64
 3   RMSSD              41033 non-null  float64
 4   SDSD               41033 non-null  float64
 5   SDRR_RMSSD         41033 non-null  float64
 6   pNN25              41033 non-null  float64
 7   pNN50              41033 non-null  float64
 8   KURT               41033 non-null  float64
 9   SKEW               41033 non-null  float64
 10  MEAN_REL_RR        41033 non-null  float64
 11  MEDIAN_REL_RR      41033 non-null  float64
 12  SDRR_REL_RR        41033 non-null  float64
 13  RMSSD_REL_RR       41033 non-null  float64
 14  SDSD_REL_RR        41033 non-null  float64
 15  SDRR_RMSSD_REL_RR  41033 non-null  float64
 16  KURT_REL_RR        41033 non-null  float64
 17  SKEW_REL_RR        41033 non-null  float64
 18  uuid               41033 non-null  object
dtypes: float64(18), object(1)
memory usage: 5.9+ MB

In [12]:
logger.info("Making Training Dataset")
final_dataset = pd.merge(heart_rate_non_linear_features_train, frequency_domain_features_train, on='uuid', how='outer')
final_dataset = pd.merge(final_dataset, time_domain_features_train, on='uuid', how='outer')

logger.info("Making Test Dataset")
final_test_dataset = pd.merge(heart_rate_non_linear_features_test, frequency_domain_features_test, on='uuid', how='outer')
final_test_dataset = pd.merge(final_test_dataset, time_domain_features_test, on='uuid', how='outer')

2020-12-14 07:54:51,585 - Making Training Dataset
2020-12-14 07:54:52,391 - Making Test Dataset

In [11]:
final_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369289 entries, 0 to 369288
Data columns (total 37 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   uuid               369289 non-null  object
 1   SD1                369289 non-null  float64
 2   SD2                369289 non-null  float64
 3   sampen             369289 non-null  float64
 4   higuci             369289 non-null  float64
 5   datasetId          369289 non-null  int64
 6   condition          369289 non-null  object
 7   VLF                369289 non-null  float64
 8   VLF_PCT            369289 non-null  float64
 9   LF                 369289 non-null  float64
 10  LF_PCT             369289 non-null  float64
 11  LF_NU              369289 non-null  float64
 12  HF                 369289 non-null  float64
 13  HF_PCT             369289 non-null  float64
 14  HF_NU              369289 non-null  float64
 15  TP                 369289 non-null  float64
 16  LF_HF              369289 non-null  float64
 17  HF_LF              369289 non-null  float64
 18  MEAN_RR            369289 non-null  float64
 19  MEDIAN_RR          369289 non-null  float64
 20  SDRR               369289 non-null  float64
 21  RMSSD              369289 non-null  float64
 22  SDSD               369289 non-null  float64
 23  SDRR_RMSSD         369289 non-null  float64
 24  HR                 369289 non-null  float64
 25  pNN25              369289 non-null  float64
 26  pNN50              369289 non-null  float64
 27  KURT               369289 non-null  float64
 28  SKEW               369289 non-null  float64
 29  MEAN_REL_RR        369289 non-null  float64
 30  MEDIAN_REL_RR      369289 non-null  float64
 31  SDRR_REL_RR        369289 non-null  float64
 32  RMSSD_REL_RR       369289 non-null  float64
 33  SDSD_REL_RR        369289 non-null  float64
 34  SDRR_RMSSD_REL_RR  369289 non-null  float64
 35  KURT_REL_RR        369289 non-null  float64
 36  SKEW_REL_RR        369289 non-null  float64
dtypes: float64(34), int64(1), object(2)
memory usage: 107.1+ MB

In [30]:
final_dataset.head(10)

                                   uuid        SD1  ...  KURT_REL_RR  SKEW_REL_RR
0  89df2855-56eb-4706-a23b-b39363dd605a  11.001565  ...    -0.856554     0.335218
1  80c795e4-aa56-4cc0-939c-19634b89cbb2   9.170129  ...    -0.408190    -0.155286
2  c2d5d102-967c-487d-88f2-8b005a449f3e  11.533417  ...     0.351789    -0.656813
3  37eabc44-1349-4040-8896-0d113ad4811f  11.119476  ...    -0.504947    -0.386138
4  aa777a6a-7aa3-4f6e-aced-70f8691dd2b7  13.590641  ...    -0.548408    -0.154252
5  fe7b4ab0-42d3-48d0-8479-7b022d6af0bc   7.026695  ...    -0.893858     1.026302
6  d324b1ee-aaa1-4edb-9b46-c597cb0bbd8c   7.528700  ...    -0.442670     0.102908
7  cf272c21-98d8-45c1-9e2b-5ed1fe1864bd   6.703994  ...     5.224736     2.452996
8  c65dcfb0-1774-4a2a-aa45-271083faeeaa  10.349326  ...    -0.455008    -0.371959
9  79977df1-0e09-4873-bb31-15581002200b   8.498966  ...     0.413338    -0.018134

[10 rows x 37 columns]

We have 'Object' Datatype columns of which one is 'UUID' which we can ignore and other is 'Condition, which we should either convert using 'Labeler' or 'One Hot Encoding'

In [10]:
final_test_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41033 entries, 0 to 41032
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   uuid               41033 non-null  object
 1   SD1                41033 non-null  float64
 2   SD2                41033 non-null  float64
 3   sampen             41033 non-null  float64
 4   higuci             41033 non-null  float64
 5   datasetId          41033 non-null  int64
 6   condition          41033 non-null  object
 7   VLF                41033 non-null  float64
 8   VLF_PCT            41033 non-null  float64
 9   LF                 41033 non-null  float64
 10  LF_PCT             41033 non-null  float64
 11  LF_NU              41033 non-null  float64
 12  HF                 41033 non-null  float64
 13  HF_PCT             41033 non-null  float64
 14  HF_NU              41033 non-null  float64
 15  TP                 41033 non-null  float64
 16  LF_HF              41033 non-null  float64
 17  HF_LF              41033 non-null  float64
 18  MEAN_RR            41033 non-null  float64
 19  MEDIAN_RR          41033 non-null  float64
 20  SDRR               41033 non-null  float64
 21  RMSSD              41033 non-null  float64
 22  SDSD               41033 non-null  float64
 23  SDRR_RMSSD         41033 non-null  float64
 24  pNN25              41033 non-null  float64
 25  pNN50              41033 non-null  float64
 26  KURT               41033 non-null  float64
 27  SKEW               41033 non-null  float64
 28  MEAN_REL_RR        41033 non-null  float64
 29  MEDIAN_REL_RR      41033 non-null  float64
 30  SDRR_REL_RR        41033 non-null  float64
 31  RMSSD_REL_RR       41033 non-null  float64
 32  SDSD_REL_RR        41033 non-null  float64
 33  SDRR_RMSSD_REL_RR  41033 non-null  float64
 34  KURT_REL_RR        41033 non-null  float64
 35  SKEW_REL_RR        41033 non-null  float64
dtypes: float64(33), int64(1), object(2)
memory usage: 11.6+ MB

In Test Dataset 'HR' Column (Target Variable) is missing

In [13]:
final_dataset.describe()

                 SD1            SD2  ...    KURT_REL_RR    SKEW_REL_RR
count  369289.000000  369289.000000  ...  369289.000000  369289.000000
mean       10.593708     154.178997  ...       0.523235       0.041628
std         2.914795     109.170222  ...       1.790348       0.699522
min         3.911344      38.307745  ...      -1.894820      -2.136278
25%         8.368340      90.326864  ...      -0.352783      -0.359291
50%        10.196621     116.221063  ...       0.040736      -0.060966
75%        12.679005     166.764850  ...       0.722833       0.282417
max        18.836107     796.852945  ...      64.088107       6.777800

[8 rows x 35 columns]

In [18]:
onehotencoder = OneHotEncoder(drop = "first")

encoded = onehotencoder.fit_transform(final_dataset.condition.values.reshape(-1,1)).toarray() 
df_encoded = pd.DataFrame(encoded, columns = [(onehotencoder.get_feature_names()[i]).replace("x0", "condition").replace(" ", "_") for i in range(encoded.shape[1])])
final_dataset_encoded = pd.concat([final_dataset, df_encoded], axis=1).drop(["condition"], axis = 1)  # concats two dataframes and drop condition
final_dataset_encoded = final_dataset_encoded.drop(["uuid"], axis = 1)
final_dataset_encoded = final_dataset_encoded.drop(["datasetId"], axis = 1)

testEncoded = onehotencoder.fit_transform(final_test_dataset.condition.values.reshape(-1,1)).toarray() 
test_df_encoded = pd.DataFrame(testEncoded, columns = [(onehotencoder.get_feature_names()[i]).replace("x0", "condition").replace(" ", "_") for i in range(testEncoded.shape[1])])
final_test_dataset_encoded = pd.concat([final_test_dataset, test_df_encoded], axis=1).drop(["condition"], axis = 1)  # concats two dataframes and drop condition
final_test_dataset_encoded = final_test_dataset_encoded.drop(["uuid"], axis = 1)
final_test_dataset_encoded = final_test_dataset_encoded.drop(["datasetId"], axis = 1)

final_dataset_encoded.describe()

                 SD1  ...  condition_time_pressure
count  369289.000000  ...            369289.000000
mean       10.593708  ...                 0.173460
std         2.914795  ...                 0.378645
min         3.911344  ...                 0.000000
25%         8.368340  ...                 0.000000
50%        10.196621  ...                 0.000000
75%        12.679005  ...                 0.000000
max        18.836107  ...                 1.000000

[8 rows x 36 columns]

In [19]:
final_test_dataset_encoded.describe()

                SD1           SD2  ...  condition_no_stress  condition_time_pressure
count  41033.000000  41033.000000  ...         41033.000000             41033.000000
mean      10.602260    153.475051  ...             0.540004                 0.172861
std        2.927793    108.442308  ...             0.498403                 0.378132
min        3.912661     38.454442  ...             0.000000                 0.000000
25%        8.370315     90.236880  ...             0.000000                 0.000000
50%       10.207964    116.339025  ...             1.000000                 0.000000
75%       12.710279    166.211038  ...             1.000000                 0.000000
max       18.796168    796.293973  ...             1.000000                 1.000000

[8 rows x 35 columns]

In [20]:
targetVariable = final_dataset_encoded["HR"]
sourceDataset = final_dataset_encoded.drop(["HR"], axis = 1)

sourceTestDataset = final_test_dataset_encoded

Number of Stress level available

In [22]:
final_dataset["condition"].unique()

array(['no stress', 'interruption', 'time pressure'], dtype=object)

HeartBeat details, conditionwise

In [59]:
final_dataset.groupby(by=['condition']).agg(['min', 'max', 'count'])[['HR']]

                      HR
                     min         max   count
condition
interruption   51.363126  113.752309  105150
no stress      50.975238  109.609794  200082
time pressure  48.737243  107.322036   64057